.POAdderForm{
    height: 10%;
    width: 100%;
    padding: 15px;
    border: 2px solid rgb(51, 33, 33);
    margin-bottom: 15px;
    margin: 5px;
    border-radius: 5px;
    background:rgb(248, 238, 226);
}