.A{
    text-decoration: none;
    color: #0f7afc;
   /* border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);*/
}
.A:hover{
    text-decoration: none;
    color: #4160ea;
    border-bottom: 1px solid;
    border-bottom-color: #4160ea73;
}