.title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.links{
    display: flex;
    flex:auto;
    justify-content: space-evenly;
    font-size: large;
}
.link{
    text-decoration: none;
    color: #0f7afc;
   /* border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);*/
}
.link :hover{
    text-decoration: none;
    color: #4160ea;
    border-bottom: 1px solid;
    border-bottom-color: #4160ea73;
}

