.Nav{
    width: 100vw;
    font-size: 10pt;
    text-align: center;
    display: flex;
    padding: 15px;
    border: 0.5px solid #1b2b4c;
    margin-bottom: 15px;
    margin: 5px 0;
    border-radius: 5px;
    justify-content: space-around;
    
    background: #fff;
}